<h1>Welcome</h1>

<% if logged_in? %>
    <h1>You are Logged In, <%= current_user.username %></h1>
<%end%>

<h3>What would you like to see?<h3>

<%= link_to "Matches", matches_path %>
<br>
<% if current_user %>
  <%= link_to "Log Out", logout_path %>
<% else %>
    <%= link_to "Log In", login_path %>
<% end %>
<%# <%= link_to "Log Out", login_path, method: :delete %>
</br>
